.list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media (width: 576px), (max-width: 576px) {
  .image {
    background-size: cover;
    opacity: 1;
    height: 80px;
    margin: 6px;
    width: 80px;
  }
}

@media (width: 768px), (min-width: 768px) {
  .image {
    background-size: cover;
    opacity: 1;
    height: 60px;
    width: 60px;
    margin: 6px;
  }
}

@media (width: 576px), (max-width: 576px) {
  .image-blur {
    background-size: cover;
    opacity: 0.5;
    height: 80px;
    width: 80px;
    margin: 6px;
  }
}

@media (width: 768px), (min-width 768px) {
  .image-blur {
    background-size: cover;
    opacity: 0.5;
    height: 60px;
    width: 60px;
    margin: 6px;
  }
}

.btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
